@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);@charset "UTF-8";

/*
    RESET
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Conserve la width et la height malgrès les padding, margin, border ... */
}

html {
  font-size: 62.5%;
  /* Passe d'une base 16 à une base 10 */
  height: 100%;
}

body {
  font: 1.5rem 'Roboto', Helvetica, Arial, sans-serif;
  /* Correspond à 15px */
  line-height: 1.4;
  font-weight: normal;
  background-color: #343434;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  /* Ne dépasse pas la taille de son parent */
}

ul {
  list-style: none;
}

/*
    HEADER
*/

header {
  position: relative;
  padding: 20px 100px;
  overflow: hidden;
  background-color: #202020;
  -webkit-box-shadow: 0px 8px 43px 1px rgba(32, 32, 32, 0.75);
  box-shadow: 0px 8px 43px 1px rgba(32, 32, 32, 0.75);
  border-bottom: 1px solid #937341;
}

header img {
  width: 200px;
  float: left;
  vertical-align: middle;
  line-height: 50px;
}

header nav {
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav ul li {
  display: inline-block;
  margin-left: 50px;
}

header nav ul li a {
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-transition: .1s;
  transition: .1s;
}

header nav ul li a:hover {
  color: #2c66bf;
}

header nav ul li.active a {
  color: #2c66bf;
}

/*
    FOOTER
*/

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 100px;
  text-align: center;
  background-color: #0a0a0c;
  color: #FFF;
  font-weight: bold;
  border-top: 1px solid #937341;
}

/*
    TEMPLATE
*/

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0 160px;
}

main h1 {
  color: #c8aa6e;
  font-weight: normal;
  font-size: 2.7rem;
  float: left;
}

main a.button_creation {
  background-color: #2c66bf;
  padding: 10px 15px;
  border-radius: 20px;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
  float: right;
  -webkit-box-shadow: 0px 0px 13px -1px rgba(32, 32, 32, 0.72);
  box-shadow: 0px 0px 13px -1px rgba(32, 32, 32, 0.72);
}

main section {
  padding: 50px 0;
  overflow: hidden;
  width: 100%;
}

body#accueil div.overlay {
  width: 100%;
  height: 100vh;
  background: url("/img/background-2.jpg") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body#accueil div.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

body#champions section div.card {
  width: calc( 90% / 4);
  display: inline-block;
  vertical-align: top;
  height: 300px;
  margin: calc( 4% / 4);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body#champions section div.card:hover {
  -webkit-box-shadow: 0px 0px 13px -1px rgba(32, 32, 32, 0.72);
  box-shadow: 0px 0px 13px -1px rgba(32, 32, 32, 0.72);
}

body#champions section div.card a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

body#champions section div.card a span {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  bottom: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  color: #FFF;
}

ul.pagination {
  text-align: center;
}

ul.pagination li {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  color: #FFF;
}

ul.pagination li.active {
  background-color: #2c66bf;
}

ul.pagination li.disabled {
  color: #343434;
}

body#detailChampion {
  color: #8A8D91;
}

body#detailChampion div.backgroundChampion {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 500px;
  z-index: -1;
}

body#detailChampion div.backgroundChampion img {
  width: 100%;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
}

body#detailChampion main {
  padding-top: 250px;
}

body#detailChampion a.retour {
  color: #FFF;
  font-weight: 600;
}

body#detailChampion .infoHeader {
  padding-top: 50px;
  overflow: hidden;
}

body#detailChampion .infoHeader img {
  float: left;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 13px -1px rgba(32, 32, 32, 0.72);
  box-shadow: 0px 0px 13px -1px rgba(32, 32, 32, 0.72);
  margin-right: 50px;
}

body#detailChampion .infoHeader h1 {
  float: none;
  font-size: 5rem;
  color: #FFF;
}

body#detailChampion .infoHeader h1 span {
  font-weight: 100;
  font-size: 2.5rem;
  display: block;
  color: #c8aa6e;
}

body#detailChampion .infoHeader div {
  float: right;
  margin-top: -30px;
}

body#detailChampion .infoHeader div a {
  background-color: #2c66bf;
  border: none;
  padding: 5px;
  border-radius: 100%;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
}

body#detailChampion .infoHeader div a img {
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body#detailChampion h3 {
  color: #FFF;
  font-size: 2.5rem;
  margin: 50px 0;
}

body#detailChampion p.description {
  text-align: justify;
}

body#detailChampion ul.skills li {
  overflow: hidden;
  margin: 20px 0;
  text-align: justify;
}

body#detailChampion ul.skills li img {
  float: left;
  margin-right: 50px;
  border-radius: 15px;
}

body#detailChampion ul.skills li div {
  width: calc(100% - 114px);
  padding-left: 115px;
}

body#detailChampion ul.skills li span {
  color: #FFF;
  font-weight: 600;
}

body#detailChampion ul.items {
  text-align: center;
  overflow: hidden;
}

body#detailChampion ul.items li {
  float: left;
  width: calc( 100% / 6);
}

body#detailChampion ul.items li p {
  color: #FFF;
  font-weight: 600;
}

body#detailChampion ul.items li img {
  border-radius: 15px;
}

body#detailChampion ul.spells li {
  margin: 20px 0;
  color: #FFF;
  font-weight: 600;
}

body#detailChampion ul.spells li img {
  border-radius: 15px;
  margin-right: 50px;
  vertical-align: middle;
}

body#addChampion h1,
body#addItem h1,
body#addSummonerSpell h1,
body#editChampion h1,
body#editItem h1,
body#editSummonerSpell h1 {
  float: none;
  margin-bottom: 50px;
}

body#addChampion form label,
body#addItem form label,
body#addSummonerSpell form label,
body#editChampion form label,
body#editItem form label,
body#editSummonerSpell form label {
  color: #FFF;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}

body#addChampion form div.form-group,
body#addItem form div.form-group,
body#addSummonerSpell form div.form-group,
body#editChampion form div.form-group,
body#editItem form div.form-group,
body#editSummonerSpell form div.form-group {
  overflow: hidden;
}

body#addChampion form div.form-group label,
body#addItem form div.form-group label,
body#addSummonerSpell form div.form-group label,
body#editChampion form div.form-group label,
body#editItem form div.form-group label,
body#editSummonerSpell form div.form-group label {
  display: inline-block;
  margin-right: 25px;
}

body#addChampion form input[type=text],
body#addItem form input[type=text],
body#addSummonerSpell form input[type=text],
body#editChampion form input[type=text],
body#editItem form input[type=text],
body#editSummonerSpell form input[type=text] {
  border: none;
  border: 2px solid #2c66bf;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  color: #FFF;
  font-weight: 600;
  margin-bottom: 25px;
}

body#addChampion form select,
body#addItem form select,
body#addSummonerSpell form select,
body#editChampion form select,
body#editItem form select,
body#editSummonerSpell form select {
  color: #FFF;
  float: left;
  width: calc( (100% / 6) - 20px);
  margin: 0 10px;
  margin-bottom: 25px;
  background-color: transparent;
  border: none;
  border: 2px solid #2c66bf;
  padding: 10px;
  border-radius: 15px;
}

body#addChampion form select option,
body#addItem form select option,
body#addSummonerSpell form select option,
body#editChampion form select option,
body#editItem form select option,
body#editSummonerSpell form select option {
  background-color: #343434;
  font-size: 1.5rem;
}

body#addChampion form button[type=submit],
body#addItem form button[type=submit],
body#addSummonerSpell form button[type=submit],
body#editChampion form button[type=submit],
body#editItem form button[type=submit],
body#editSummonerSpell form button[type=submit] {
  border: none;
  background-color: #2c66bf;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #FFF;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}

body#items section,
body#summonerSpells section,
body#skills section {
  text-align: center;
}

body#items section ul li,
body#summonerSpells section ul li,
body#skills section ul li {
  width: calc( (100% / 6));
  float: left;
  margin: 30px 10px;
}

body#items section ul li a,
body#summonerSpells section ul li a,
body#skills section ul li a {
  display: block;
}

body#items section ul li img,
body#summonerSpells section ul li img,
body#skills section ul li img {
  border-radius: 15px;
}

body#items section ul li p,
body#summonerSpells section ul li p,
body#skills section ul li p {
  color: #FFF;
  margin: 5px 0;
}

body#items section ul li button,
body#summonerSpells section ul li button,
body#skills section ul li button {
  background-color: #2c66bf;
  border: none;
  padding: 5px;
  border-radius: 100%;
  margin: 0 5px;
  cursor: pointer;
}

body#items section ul li button img,
body#summonerSpells section ul li button img,
body#skills section ul li button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

body#detailItem h1,
body#detailSummonerSpell h1,
body#detailSkill h1 {
  float: none;
  margin-top: 50px;
}

body#detailItem a.retour,
body#detailSummonerSpell a.retour,
body#detailSkill a.retour {
  color: #FFF;
  font-weight: 600;
}

body#detailItem section p,
body#detailSummonerSpell section p,
body#detailSkill section p {
  color: #8A8D91;
}

body#detailItem section img,
body#detailSummonerSpell section img,
body#detailSkill section img {
  border-radius: 15px;
}

